@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');


* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

.logo {
  width: 200px;
  height: 200px;
  object-fit: cover;
 
}

#header {
  background: #F18C8E;
}

.header-container {
  display: flex;
  justify-content: space-between;
  height: 200px;
  background-image: linear-gradient(140deg, #06A0DC 0%, #DE726A 50%, #06A0DC 75%);
 
}

.header-container > h1 {
  color: white;
  font-family: 'Sansita Swashed', cursive;
  font-size: 55px;
}

.sidebar-container {
  background-image: linear-gradient(140deg, white 0%, #DE726A 50%, white 75%);
}

#search-bar {
  background: #F18C8E;
}

.sidebar {
  background: #568EA6;
  // position: fixed;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // min-height: 100vh !important;
  // z-index: 100;
  // padding: 48px 0 0;
  // box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.button-tag {
  display: block !important;
  text-align: left;
  border: none;
  width: 100%;
  outline: none !important;
}

.button-tag:hover {
  background: grey;
}

.highlight-tag {
  display: block !important;
  background: #8799ff !important;
  text-align: left;
  border: none;
  width: 100%;
  outline: none !important;
}

// #sidebar-wrapper{
//   min-height: 100vh !important;
//   width: 100vw;
//   margin-left: -1rem;
//   -webkit-transition: margin .25s ease-out;
//   -moz-transition: margin .25s ease-out;
//   -o-transition: margin .25s ease-out;
//   transition: margin .25s ease-out;
// }
// #sidebar-wrapper .sidebar-heading {
//   padding: 0.875rem 1.25rem;
//   font-size: 1.2rem;
// }

// #page-content-wrapper {
//   min-width: 0;
//   width: 100%;
// }

//====Original side-bar====//
#side-bar {
  background: #568EA6;
}

#main-gallery {
  background: #dedede;
}

.photosAll {
  display: flex;
  // justify-content: space-around;
  flex-wrap: wrap;
}

.photo-container {
  margin: 30px !important;
}

.photo-container * img {
  width:  250px;
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
}

.photo-options {
  background: #6c757d;
  // opacity: .60;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 26px;
  visibility: hidden;
}

.photo-container:hover > .photo-options {
  visibility: visible;
}

.photo-delete-button {
  color: #ffffff;
  background: #6c757d;
  border: none;
  // border-radius: 4px;
  outline: none;
  width: 20%;
  height: 9%;
}

#footer {
  background: #305F72;
}
