@import "~bootstrap/scss/bootstrap";

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

// body {
//   font-family: 'Baloo Tamma 2';
//   background: #f1f1f1b9;
// }

// #app {
//   margin: auto;
//   margin-top: 150px;
//   text-align: center;
//   width: 800px;
//   background: white;
//   border: 1px solid #e7e7e7;
//   box-shadow: 30px 30px 40px 20px #cecece;
//   border-radius: 20px;
// }

// #App > div {
//   border: 1px solid #000000;
// }

#header {
  background: #F18C8E;
}

#search-bar {
  background: #F18C8E;
}

.sidebar {
  background: #568EA6;
  // position: fixed;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // min-height: 100vh !important;
  // z-index: 100;
  // padding: 48px 0 0;
  // box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

// #sidebar-wrapper{
//   min-height: 100vh !important;
//   width: 100vw;
//   margin-left: -1rem;
//   -webkit-transition: margin .25s ease-out;
//   -moz-transition: margin .25s ease-out;
//   -o-transition: margin .25s ease-out;
//   transition: margin .25s ease-out;
// }
// #sidebar-wrapper .sidebar-heading {
//   padding: 0.875rem 1.25rem;
//   font-size: 1.2rem;
// }

// #page-content-wrapper {
//   min-width: 0;
//   width: 100%;
// }

//====Original side-bar====//
#side-bar {
  background: #568EA6;
}

#main-gallery {
  background: #F1D1B5;
}

#footer {
  background: #305F72;
}
