* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Baloo Tamma 2';
  background: #f1f1f1b9;
}

// #app {
//   margin: auto;
//   margin-top: 150px;
//   text-align: center;
//   width: 800px;
//   background: white;
//   border: 1px solid #e7e7e7;
//   box-shadow: 30px 30px 40px 20px #cecece;
//   border-radius: 20px;
// }

#App > div {
  border: 1px solid #000000;
}

#header {
  background: #F18C8E;
}

#search-bar {
  background: #F18C8E;
}

#side-bar {
  background: #568EA6;
}

#main-gallery {
  background: #F1D1B5;
}

#footer {
  background: #305F72;
}
